#about {
  text-align: left;
  margin-top: 6rem;
}

#about img {
  margin-bottom: 2.5rem;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  #about img {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  #about img {
    width: 55%;
  }
}

#about span.profession {
  font-size: 1.4rem;
  font-family: "Press Start 2P", cursive;
}

#about .profession {
  background: linear-gradient(180deg, transparent 60%, blue 60%);
}

#about p {
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
}

#about p.main {
  font-size: 1.5rem;
}

#about p.secondary {
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  #about p {
    font-size: 1.8rem;
  }

  #about p.main {
    font-size: 2rem;
  }

  #about p.secondary {
    font-size: 1.7rem;
  }
}

#about .wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
