#contacts {
  margin-top: 6rem;
}

#contacts .card {
  padding: 1.5rem;
  background-color: #eee;
  color: black;
  border: 0.25rem solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  border-radius: 25px;
  opacity: 0;
  transform: translateY(30%);
  transition: opacity 250ms, transform 250ms;
  max-width: 550px;
  margin: auto;
  text-align: center;
}

#contacts .card.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.card .name {
  font-size: 1.9rem;
  margin-bottom: 1.4rem;
}

.card .info,
.card .interactive-contacts {
  display: flex;
  justify-content: space-around;
}

.card .static-contacts {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.card .interactive-contacts {
  font-size: 2rem;
}

.card .static-contacts p:first-of-type {
  margin-bottom: 0.2rem;
}

.interactive-contacts a img {
  height: 2rem;
}

@media only screen and (min-width: 500px) {
  .card .static-contacts {
    display: flex;
    justify-content: space-around;
  }
}
